body
{
    height: 100vh;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(45deg, rgb(118, 98, 134),white,rgb(97, 138, 97));
    background-repeat:no-repeat;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
}
main
{
    border: 2px solid rgb(241, 238, 228);
    width: 350px;
    height: 500px;
    /* text-align: center; */
    border-radius: 15px;
    box-shadow: 3px 2px 2px rgb(51, 47, 40);
    
}
img
{
    width: 100%;
    border-radius: 15px;
}

input{
    margin-top: 1rem;
    margin-left: 2rem;
    width: 257px;
    height: 25px;
    border-radius: 22px;
    border: 2px solid rgb(221, 212, 212);
    padding-left: 10px;
    animation: spin ;
}
h4
{
    padding-left: 2rem
    ;
}

button{
    border: none;
    background-color: rgb(157, 177, 194);
    height: 30px;
    width: 30px;
    border-radius: 50%;
    position: relative;
    left: -32px;
}
